openapi: 3.0.3
info:
  title: Tax Dividend AI Backend Internal API
  version: 1.0.0
  description: Internal API for Backend Services
servers:
  - url: http://localhost:8081/internal
    description: Local development server

paths:
  # Auth
  /auth/register:
    $ref: './paths/auth.yaml#/~1auth~1register'
  /auth/verify:
    $ref: './paths/auth.yaml#/~1auth~1verify'

  # Dividends
  /dividends:
    $ref: './paths/dividend.yaml#/~1dividends'
  /dividends/{id}:
    $ref: './paths/dividend.yaml#/~1dividends~1{id}'
  /dividends/status:
    $ref: './paths/dividend.yaml#/~1dividends~1status'
  /dividends/stats:
    $ref: './paths/dividend.yaml#/~1dividends~1stats'
  /dividends/{id}/calculate:
    $ref: './paths/dividend.yaml#/~1dividends~1{id}~1calculate'
  /dividends/calculate-batch:
    $ref: './paths/dividend.yaml#/~1dividends~1calculate-batch'
  /dividends/{userId}/calculate-all:
    $ref: './paths/dividend.yaml#/~1dividends~1{userId}~1calculate-all'
  /dividends/bulk:
    $ref: './paths/dividend.yaml#/~1dividends~1bulk'
  /dividends/parse-statement:
    $ref: './paths/dividend.yaml#/~1dividends~1parse-statement'

  # Dividend Statements
  /dividend-statements:
    $ref: './paths/dividend.yaml#/~1dividend-statements'
  /dividend-statements/{id}:
    $ref: './paths/dividend.yaml#/~1dividend-statements~1{id}'
  /dividend-statements/by-date-range:
    $ref: './paths/dividend.yaml#/~1dividend-statements~1by-date-range'
  /dividend-statements/count-by-status:
    $ref: './paths/dividend.yaml#/~1dividend-statements~1count-by-status'

  # Forms
  /forms:
    $ref: './paths/forms.yaml#/~1forms'
  /forms/generate:
    $ref: './paths/forms.yaml#/~1forms~1generate'
  /forms/{id}:
    $ref: './paths/forms.yaml#/~1forms~1{id}'
  /forms/{id}/download:
    $ref: './paths/forms.yaml#/~1forms~1{id}~1download'
  /forms/{id}/download-url:
    $ref: './paths/forms.yaml#/~1forms~1{id}~1download-url'
  /forms/{id}/regenerate:
    $ref: './paths/forms.yaml#/~1forms~1{id}~1regenerate'

  # Tax Rules
  /tax-rules:
    $ref: './paths/tax-rule.yaml#/~1tax-rules'
  /tax-rules/{id}:
    $ref: './paths/tax-rule.yaml#/~1tax-rules~1{id}'
  /tax-rules/applicable:
    $ref: './paths/tax-rule.yaml#/~1tax-rules~1applicable'
  /tax-rules/treaty-rate:
    $ref: './paths/tax-rule.yaml#/~1tax-rules~1treaty-rate'

components:
  schemas:
    # Auth
    RegisterUserRequest:
      $ref: './schemas/auth.yaml#/RegisterUserRequest'
    UserRegistrationResponse:
      $ref: './schemas/auth.yaml#/UserRegistrationResponse'
    VerifyEmailResponse:
      $ref: './schemas/auth.yaml#/VerifyEmailResponse'

    # Dividend
    Dividend:
      $ref: './schemas/dividend.yaml#/Dividend'
    PaginatedDividendList:
      $ref: './schemas/dividend.yaml#/PaginatedDividendList'
    DividendStats:
      $ref: './schemas/dividend.yaml#/DividendStats'
    BulkImportDividendItem:
      $ref: './schemas/dividend.yaml#/BulkImportDividendItem'
    BulkImportDividendsRequest:
      $ref: './schemas/dividend.yaml#/BulkImportDividendsRequest'
    BulkImportDividendsResponse:
      $ref: './schemas/dividend.yaml#/BulkImportDividendsResponse'
    DividendStatement:
      $ref: './schemas/dividend.yaml#/DividendStatement'
    DividendStatementStatus:
      $ref: './schemas/dividend.yaml#/DividendStatementStatus'
    DividendStatementUpdate:
      $ref: './schemas/dividend.yaml#/DividendStatementUpdate'

    # Forms
    FormGenerationRequest:
      $ref: './schemas/forms.yaml#/FormGenerationRequest'
    GenerateFormResult:
      $ref: './schemas/forms.yaml#/GenerateFormResult'
    FormDownloadUrlResponse:
      $ref: './schemas/forms.yaml#/FormDownloadUrlResponse'
    GeneratedForm:
      $ref: './schemas/forms.yaml#/GeneratedForm'

    # Tax Rule
    TaxRule:
      $ref: './schemas/tax-rule.yaml#/TaxRule'
    TreatyRateResponse:
      $ref: './schemas/tax-rule.yaml#/TreatyRateResponse'
    TaxCalculationResult:
      $ref: './schemas/tax-rule.yaml#/TaxCalculationResult'
    TaxCalculationBatchResult:
      $ref: './schemas/tax-rule.yaml#/TaxCalculationBatchResult'

security:
  - bearerAuth: []
